@model List<Forecast>
<br /><br />
<table width="100%">
    <tr>
        @foreach (var item in Model)
        {
            <td width="14%"><b>@item.ForecastDate.DayOfWeek.ToString()</b></td>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            
            <td  width="14%"><img src="~/images/@(item.WeatherType).png" /></td>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
        <td width="14%">@item.MinTemp °C | @item.MaxTemp °C</td>
        }
    </tr>
</table>

